# Django 核心框架
Django>=5.2.7,<6.0.0

# 数据获取和处理
baostock>=0.8.9
numpy>=1.26.0
pandas>=2.2.0
exchange_calendars
pytz

# Django 扩展插件
django-cors-headers
django-extensions
django-werkzeug-debugger-runserver

# Redis 缓存
django-redis>=5.4.0

# 静态文件服务
whitenoise

