/** 与 theme/themeConfig.ts 保持一致 */
@primary-color: #1677ff;

@page-padding: 16px;
@page-padding-mobile: 8px;
@box-shadow-card: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02);

@screen-md: 768px;

@color-text-secondary: rgba(0, 0, 0, 0.45);
